---
layout: default
---

<div class="posts">
  {% for post in site.posts %}
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      {% if post.primary_image %}
        <img src="{{ post.primary_image }}" style="max-height:6em;max-width:50%;float:left;margin-right:3ex;"/>
      {% endif %}
      <div class="entry">
        {% if post.snippet %}
          {{ post.snippet }}
        {% else %}
          {{ post.excerpt }}
        {% endif %}
      </div>

      <div style='text-align:right;'>
        <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
      </div>
    </article>
  {% endfor %}
</div>
